USE [master]
GO
/****** Object:  Database [escuela]    Script Date: 12/11/2023 01:44:53 p. m. ******/
CREATE DATABASE [escuela]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'escuela', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\escuela.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'escuela_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\escuela_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [escuela].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [escuela]
GO
/****** Object:  User [alexis]    Script Date: 12/11/2023 01:44:54 p. m. ******/
CREATE USER [alexis] FOR LOGIN [alexis] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 12/11/2023 01:44:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Authors] PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 12/11/2023 01:44:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Chapters] [int] NOT NULL,
	[Pages] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[AuthorId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Books] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([AuthorId], [Name]) VALUES (12, N'Stephen King')
INSERT [dbo].[Authors] ([AuthorId], [Name]) VALUES (13, N'F. Scott Fitzgerald')
INSERT [dbo].[Authors] ([AuthorId], [Name]) VALUES (14, N'J.R.R. Tolkien')
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookId], [Title], [Chapters], [Pages], [Price], [AuthorId]) VALUES (17, N'IT', 10, 260, CAST(17.99 AS Decimal(18, 2)), 12)
INSERT [dbo].[Books] ([BookId], [Title], [Chapters], [Pages], [Price], [AuthorId]) VALUES (18, N'The Great Gatsby', 9, 180, CAST(19.99 AS Decimal(18, 2)), 13)
INSERT [dbo].[Books] ([BookId], [Title], [Chapters], [Pages], [Price], [AuthorId]) VALUES (19, N'The Lord of the Rings', 62, 1178, CAST(45.00 AS Decimal(18, 2)), 14)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
/****** Object:  Index [IX_AuthorId]    Script Date: 12/11/2023 01:44:54 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AuthorId] ON [dbo].[Books]
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Books_dbo.Authors_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([AuthorId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_dbo.Books_dbo.Authors_AuthorId]
GO
USE [master]
GO
